html, body {
color:#FFFFD9;
background: transparent;

}

h1 {font-family: 'Montserrat', sans-serif;}

h2, h3, h4, {font-family: 'Bellefair', serif;}

nav {font-family: 'Montserrat', sans-serif;
background-color: #ffffd9}

hr {border-top:1px solid; margin-bottom: 3rem; color: rgb(7,71,242);}

nav .social a {font-size:1.5rem;
padding:0.2rem 1rem;}

.header .social a {background: transparent !important;}

.bc{max-width:700px;}

.fgradbg {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0747f2+0,f3228f+100 */
background: rgb(7,71,242); /* Old browsers */
background: -moz-linear-gradient(left, rgb(7,71,242) 0%, rgb(243,34,143) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgb(7,71,242) 0%,rgb(243,34,143) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgb(7,71,242) 0%,rgb(243,34,143) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0747f2', endColorstr='#f3228f',GradientType=1 ); /* IE6-9 */}

/* .diamond {

margin: 3rem auto;
z-index: -1;}

.diamond p {
margin-bottom:0px;
color: rgb(243,34,143);} */

.header {background:#000;}
h4 a, h4 a:visited {color: rgb(243,34,143);}
h4 a:focus, h4 a:hover {color: #ffffd9;}
h2 a, h3 a:visited {color: rgb(7,71,242);}
h2 a:focus, h2 a:hover {color: #ffffd9;}


div.diamhead {margin-top: -8rem; padding:0px;}
div.classhead {margin-top: -5rem; padding:0px;}
@media (min-width: 992px) { 
img.cvrs {border-radius:100%;}
h4 a, h4 a:visited {font-family: 'Bellefair', serif;}
h4 a:focus, h4 a:hover {font-family: 'Bellefair', serif;}
h2 a, h3 a:visited {font-family: 'Montserrat', sans-serif;}
h2 a:focus, h2 a:hover {font-family: 'Montserrat', sans-serif;}
}

/*.anchorjs-link {
  font-family: 'FontAwesome';
}

.selectable .fa {display: none;}
.selectable a:hover .fa, a:focus .fa {}*/
.jumbotron {border-radius:0px;}

#site-bg {width:100%;
position:fixed;
z-index:-4;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
background-color: #000000;
}

@media (min-width: 992px) { .vert {
transform: rotate(-8deg);
    transform-origin: bottom left 0;
}
}
/* .flvert {
transform: rotate(-90deg);
    transform-origin: bottom left 0;
} */

div.yt {background:black;}

/* Opacity #2 */
/* .hover12 figure {
	background: #1abc9c;
}
.hover12 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover12 figure:hover img {
	opacity: .5;
} */
/* 
.bg {
    background:url('../img/classics-t.png') no-repeat center center;
    background-size:auto;
    height: 500px;
} */

@media (min-width: 992px) { .left,
.right {
   position: fixed; 
  top: 0;
  bottom: 0;
  height: 1.5em;
  margin: auto;
  

  
}

.left {
  left: 0;
  -webkit-transform-origin: 0 50%;
     -moz-transform-origin: 0 50%;
      -ms-transform-origin: 0 50%;
       -o-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: rotate(-90deg) translate(-50%, 50%);
     -moz-transform: rotate(-90deg) translate(-50%, 50%);
      -ms-transform: rotate(-90deg) translate(-50%, 50%);
       -o-transform: rotate(-90deg) translate(-50%, 50%);
          transform: rotate(-90deg) translate(-50%, 50%);
}

.right {
   right: 0;
   -webkit-transform-origin: 100% 50%;
      -moz-transform-origin: 100% 50%;
       -ms-transform-origin: 100% 50%;
        -o-transform-origin: 100% 50%;
           transform-origin: 100% 50%;
   -webkit-transform: rotate(90deg) translate(50%, 50%);
      -moz-transform: rotate(90deg) translate(50%, 50%);
       -ms-transform: rotate(90deg) translate(50%, 50%);
        -o-transform: rotate(90deg) translate(50%, 50%);
           transform: rotate(90deg) translate(50%, 50%);
}
}

canvas {
        width: 100vw;
        height: 100vh;
        display: block;
        position: fixed;
        top: 0;
        margin: 0 auto;
        /*left: 0;*/
        z-index: -3;
        pointer-events: none;
      }

      .embed-responsive{  margin-bottom: 1.5rem;} 

.title {
  margin-bottom: 3rem;
}
.title .title-part {
  /*font-weight: 600;
  text-transform: uppercase;
  display: block;*/
  color: #FFFFD9;
  font-family: 'Bellefair', serif;
  line-height: 0.75;
  
  
}

.title a:hover.title-part.line-4 , a:focus.title .title-part.line-4 
{text-decoration:none; text-shadow: #03a671 1px 1px, #03a473 2px 2px, #04a374 3px 3px, #05a275 4px 4px, #06a177 5px 5px, #069f78 6px 6px, #079e79 7px 7px, #089d7b 8px 8px, #089b7c 9px 9px, #099a7d 10px 10px, #0a997f 11px 11px, #0a9780 12px 12px, #0b9681 13px 13px, #0c9582 14px 14px, #0d9484 15px 15px, #0d9285 16px 16px, #0e9186 17px 17px, #0f9088 18px 18px, #0f8e89 19px 19px, #108d8a 20px 20px, #118c8c 21px 21px, #118a8d 22px 22px, #12898e 23px 23px, #138890 24px 24px, #148791 25px 25px, #148592 26px 26px, #158494 27px 27px, #168395 28px 28px, #168196 29px 29px, #178098 30px 30px, #187f99 31px 31px, #187d9a 32px 32px, #197c9c 33px 33px, #1a7b9d 34px 34px, #1b7a9e 35px 35px, #1b78a0 36px 36px, #1c77a1 37px 37px, #1d76a2 38px 38px, #1d74a3 39px 39px, #1e73a5 40px 40px, #1f72a6 41px 41px, #1f70a7 42px 42px, #206fa9 43px 43px, #216eaa 44px 44px, #226dab 45px 45px, #226bad 46px 46px, #236aae 47px 47px, #2469af 48px 48px, #2467b1 49px 49px, #2566b2 50px 50px, #02a770 0px 0px !important;}

.title a:hover.title-part.line-3 , a:focus.title .title-part.line-3 
{text-decoration:none; text-shadow: #e70880 1px 1px, #e30a81 2px 2px, #df0c82 3px 3px, #db0e83 4px 4px, #d71084 5px 5px, #d31285 6px 6px, #cf1386 7px 7px, #cb1587 8px 8px, #c71788 9px 9px, #c31989 10px 10px, #bf1b8a 11px 11px, #bb1d8b 12px 12px, #b81f8c 13px 13px, #b4218d 14px 14px, #b0238e 15px 15px, #ac258f 16px 16px, #a82790 17px 17px, #a42991 18px 18px, #a02a92 19px 19px, #9c2c93 20px 20px, #982e94 21px 21px, #943095 22px 22px, #903296 23px 23px, #8c3497 24px 24px, #883699 25px 25px, #84389a 26px 26px, #803a9b 27px 27px, #7c3c9c 28px 28px, #783e9d 29px 29px, #74409e 30px 30px, #70429f 31px 31px, #6c43a0 32px 32px, #6845a1 33px 33px, #6447a2 34px 34px, #6049a3 35px 35px, #5c4ba4 36px 36px, #584da5 37px 37px, #554fa6 38px 38px, #5151a7 39px 39px, #4d53a8 40px 40px, #4955a9 41px 41px, #4557aa 42px 42px, #4159ab 43px 43px, #3d5aac 44px 44px, #395cad 45px 45px, #355eae 46px 46px, #3160af 47px 47px, #2d62b0 48px 48px, #2964b1 49px 49px, #2566b2 50px 50px, #eb067f 0px 0px;
}

.title .title-part.line-1 {
  text-shadow: #e70880 1px 1px, #e30a81 2px 2px, #df0c82 3px 3px, #db0e83 4px 4px, #d71084 5px 5px, #d31285 6px 6px, #cf1386 7px 7px, #cb1587 8px 8px, #c71788 9px 9px, #c31989 10px 10px, #bf1b8a 11px 11px, #bb1d8b 12px 12px, #b81f8c 13px 13px, #b4218d 14px 14px, #b0238e 15px 15px, #ac258f 16px 16px, #a82790 17px 17px, #a42991 18px 18px, #a02a92 19px 19px, #9c2c93 20px 20px, #982e94 21px 21px, #943095 22px 22px, #903296 23px 23px, #8c3497 24px 24px, #883699 25px 25px, #84389a 26px 26px, #803a9b 27px 27px, #7c3c9c 28px 28px, #783e9d 29px 29px, #74409e 30px 30px, #70429f 31px 31px, #6c43a0 32px 32px, #6845a1 33px 33px, #6447a2 34px 34px, #6049a3 35px 35px, #5c4ba4 36px 36px, #584da5 37px 37px, #554fa6 38px 38px, #5151a7 39px 39px, #4d53a8 40px 40px, #4955a9 41px 41px, #4557aa 42px 42px, #4159ab 43px 43px, #3d5aac 44px 44px, #395cad 45px 45px, #355eae 46px 46px, #3160af 47px 47px, #2d62b0 48px 48px, #2964b1 49px 49px, #2566b2 50px 50px, #eb067f 0px 0px;
}
.title .title-part.line-2 {
  text-shadow: #03a671 1px 1px, #03a473 2px 2px, #04a374 3px 3px, #05a275 4px 4px, #06a177 5px 5px, #069f78 6px 6px, #079e79 7px 7px, #089d7b 8px 8px, #089b7c 9px 9px, #099a7d 10px 10px, #0a997f 11px 11px, #0a9780 12px 12px, #0b9681 13px 13px, #0c9582 14px 14px, #0d9484 15px 15px, #0d9285 16px 16px, #0e9186 17px 17px, #0f9088 18px 18px, #0f8e89 19px 19px, #108d8a 20px 20px, #118c8c 21px 21px, #118a8d 22px 22px, #12898e 23px 23px, #138890 24px 24px, #148791 25px 25px, #148592 26px 26px, #158494 27px 27px, #168395 28px 28px, #168196 29px 29px, #178098 30px 30px, #187f99 31px 31px, #187d9a 32px 32px, #197c9c 33px 33px, #1a7b9d 34px 34px, #1b7a9e 35px 35px, #1b78a0 36px 36px, #1c77a1 37px 37px, #1d76a2 38px 38px, #1d74a3 39px 39px, #1e73a5 40px 40px, #1f72a6 41px 41px, #1f70a7 42px 42px, #206fa9 43px 43px, #216eaa 44px 44px, #226dab 45px 45px, #226bad 46px 46px, #236aae 47px 47px, #2469af 48px 48px, #2467b1 49px 49px, #2566b2 50px 50px, #02a770 0px 0px;
}
.title .title-part.line-3 {
  text-shadow: #e6067c 1px 1px, #e2067a 2px 2px, #dd0677 3px 3px, #d80675 4px 4px, #d40572 5px 5px, #cf0570 6px 6px, #ca056d 7px 7px, #c5056b 8px 8px, #c10568 9px 9px, #bc0566 10px 10px, #b70563 11px 11px, #b30561 12px 12px, #ae045e 13px 13px, #a9045b 14px 14px, #a50459 15px 15px, #a00456 16px 16px, #9b0454 17px 17px, #960451 18px 18px, #92044f 19px 19px, #8d044c 20px 20px, #88034a 21px 21px, #840347 22px 22px, #7f0345 23px 23px, #7a0342 24px 24px, #760340 25px 25px, #71033d 26px 26px, #6c033a 27px 27px, #670338 28px 28px, #630335 29px 29px, #5e0233 30px 30px, #590230 31px 31px, #55022e 32px 32px, #50022b 33px 33px, #4b0229 34px 34px, #470226 35px 35px, #420224 36px 36px, #3d0221 37px 37px, #38011e 38px 38px, #34011c 39px 39px, #2f0119 40px 40px, #2a0117 41px 41px, #260114 42px 42px, #210112 43px 43px, #1c010f 44px 44px, #18010d 45px 45px, #13000a 46px 46px, #0e0008 47px 47px, #090005 48px 48px, #050003 49px 49px, black 50px 50px, #eb067f 0px 0px;
}
.title .title-part.line-4 {
  text-shadow: #02a46e 1px 1px, #02a06c 2px 2px, #029d69 3px 3px, #029a67 4px 4px, #029665 5px 5px, #029363 6px 6px, #029060 7px 7px, #028c5e 8px 8px, #02895c 9px 9px, #02865a 10px 10px, #028257 11px 11px, #027f55 12px 12px, #017c53 13px 13px, #017851 14px 14px, #01754e 15px 15px, #01724c 16px 16px, #016e4a 17px 17px, #016b48 18px 18px, #016845 19px 19px, #016443 20px 20px, #016141 21px 21px, #015e3f 22px 22px, #015a3c 23px 23px, #01573a 24px 24px, #015438 25px 25px, #015036 26px 26px, #014d34 27px 27px, #014931 28px 28px, #01462f 29px 29px, #01432d 30px 30px, #013f2b 31px 31px, #013c28 32px 32px, #013926 33px 33px, #013524 34px 34px, #013222 35px 35px, #012f1f 36px 36px, #012b1d 37px 37px, #00281b 38px 38px, #002519 39px 39px, #002116 40px 40px, #001e14 41px 41px, #001b12 42px 42px, #001710 43px 43px, #00140d 44px 44px, #00110b 45px 45px, #000d09 46px 46px, #000a07 47px 47px, #000704 48px 48px, #000302 49px 49px, black 50px 50px, #02a770 0px 0px;
}
.title .title-part.line-5 {
  text-shadow: #8202fe 1px 1px, #8405fc 2px 2px, #8507fb 3px 3px, #8609fa 4px 4px, #870cf9 5px 5px, #890ef7 6px 6px, #8a10f6 7px 7px, #8b13f5 8px 8px, #8c15f4 9px 9px, #8e17f2 10px 10px, #8f1af1 11px 11px, #901cf0 12px 12px, #911eee 13px 13px, #9321ed 14px 14px, #9423ec 15px 15px, #9525eb 16px 16px, #9628e9 17px 17px, #982ae8 18px 18px, #992ce7 19px 19px, #9a2fe6 20px 20px, #9b31e4 21px 21px, #9d33e3 22px 22px, #9e36e2 23px 23px, #9f38e1 24px 24px, #a13bdf 25px 25px, #a23dde 26px 26px, #a33fdd 27px 27px, #a442db 28px 28px, #a644da 29px 29px, #a746d9 30px 30px, #a849d8 31px 31px, #a94bd6 32px 32px, #ab4dd5 33px 33px, #ac50d4 34px 34px, #ad52d3 35px 35px, #ae54d1 36px 36px, #b057d0 37px 37px, #b159cf 38px 38px, #b25bcd 39px 39px, #b35ecc 40px 40px, #b560cb 41px 41px, #b662ca 42px 42px, #b765c8 43px 43px, #b867c7 44px 44px, #ba69c6 45px 45px, #bb6cc5 46px 46px, #bc6ec3 47px 47px, #bd70c2 48px 48px, #bf73c1 49px 49px, #c075c0 50px 50px, #c177be 51px 51px, #c37abd 52px 52px, #c47cbc 53px 53px, #c57eba 54px 54px, #c681b9 55px 55px, #c883b8 56px 56px, #c985b7 57px 57px, #ca88b5 58px 58px, #cb8ab4 59px 59px, #cd8cb3 60px 60px, #ce8fb2 61px 61px, #cf91b0 62px 62px, #d093af 63px 63px, #d296ae 64px 64px, #d398ac 65px 65px, #d49aab 66px 66px, #d59daa 67px 67px, #d79fa9 68px 68px, #d8a1a7 69px 69px, #d9a4a6 70px 70px, #daa6a5 71px 71px, #dca8a4 72px 72px, #ddaba2 73px 73px, #deada1 74px 74px, #e0b0a0 75px 75px, #e1b29e 76px 76px, #e2b49d 77px 77px, #e3b79c 78px 78px, #e5b99b 79px 79px, #e6bb99 80px 80px, #e7be98 81px 81px, #e8c097 82px 82px, #eac296 83px 83px, #ebc594 84px 84px, #ecc793 85px 85px, #edc992 86px 86px, #efcc91 87px 87px, #f0ce8f 88px 88px, #f1d08e 89px 89px, #f2d38d 90px 90px, #f4d58b 91px 91px, #f5d78a 92px 92px, #f6da89 93px 93px, #f7dc88 94px 94px, #f9de86 95px 95px, #fae185 96px 96px, #fbe384 97px 97px, #fce583 98px 98px, #fee881 99px 99px, #ffea80 100px 100px, #8100FF 0px 0px;
}

@media (min-width: 992px) { .title .title-part {
  font-size: 10rem;
}
.fukd {
  letter-spacing: 40px;
}
}




 .fukd {overflow-wrap: break-word;
word-break: break-all;}

.rpm {animation: rotation 4s infinite linear;
		-webkit-animation: rotation 4s infinite linear;
}
@keyframes rotation{from {
				transform: rotate(0deg);
		}
		to {
				transform: rotate(359deg);
		}}
@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

.lorpm {animation: rotation 400s infinite linear;
		-webkit-animation: rotation 400s infinite linear;
}
@keyframes rotation{from {
				transform: rotate(0deg);
		}
		to {
				transform: rotate(359deg);
		}}
@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}