background: linear-gradient(178deg, #02a770, #2566b2, #eb067f);
background-size: 600% 600%;

-webkit-animation: fdiamgrad 59s ease infinite;
-moz-animation: fdiamgrad 59s ease infinite;
-o-animation: fdiamgrad 59s ease infinite;
animation: fdiamgrad 59s ease infinite;

@-webkit-keyframes fdiamgrad {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes fdiamgrad {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes fdiamgrad {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes fdiamgrad { 
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
