<!-- START FOOTER -->
<footer>
<a name="contact"></a>
    <div class="jumbotron slo" style="z-index:-2;">

        <div class="container">
            <div class="row justify-content-md-center">

            
                <div class="col-md-4">
                    <a class="twitter-timeline" data-height="500" data-theme="dark" data-link-color="#19CF86" href="https://twitter.com/thebandforevr">Tweets by thebandforevr</a> <script async data-src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                  
                <div class="col-md-4">
                    <div id="mc_embed_signup">
                        <form action="//thebandforevr.us11.list-manage.com/subscribe/post?u=a44f3895e46c3eef4fb6c432f&amp;id=eea21cb2c1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                             <hr class="hidden-md-up">
                            <!-- <div id="mc_embed_signup_scroll">-->
                            <h2>FOREVR NEWSLETTR</h2>
                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                            <div class="form-group">
                                <label for="mce-EMAIL" class="h4">Email Address  <span class="asterisk">*</span>
</label>
                                <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL">
                            </div>
                            <div class="form-group">
                                <label for="mce-FNAME" class="h4">First Name </label>
                                <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
                            </div>
                            <div class="form-group">
                                <label for="mce-LNAME" class="h4">Last Name </label>
                                <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a44f3895e46c3eef4fb6c432f_eea21cb2c1" tabindex="-1" value=""></div>
                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
   
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->

     <!-- start tym -->
        
        <hr>
        <div class="row justify-content-center tym">
            <div class="col-8">

                <img data-src="img/tym-records-logo.png" alt="Tym Records Logo" class="img-fluid rpm">
                  <h4 class="title align-middle text-center" style="margin-bottom:0;"><a href="https://tymguitars.com.au/collections/vinyl/forevr" target="_blank">TYM RECORDS</a></h4>
                  <p class="text-center"><!--<a href="http://tym-records.com/"></a>-->tym-records.com</p>
                </div>
            </div>
  <!-- end tym -->

     </div>           

                <div class="col-md-4">
                    <hr class="hidden-md-up">
                    <h2>Contact</h2>
                    <h5>PRESS:</h5> <p>genna [at] super-duper [dot] com [dot] au</p>
                    <h5>BAND:</h5> <p>thebandforevr [at] gmail [dot] com </p>
                    <hr>
                    <div class="fb-page" data-href="https://www.facebook.com/thebandFOREVR" data-tabs="messages, timeline" data-width="500" data-height="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/thebandFOREVR" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/thebandFOREVR">FOREVR</a></blockquote></div>		

       
      

        <hr>
                <div class="row">
                    <div class="col">
                       
                    </div>
                </div>
           
        </div>
    </div>
   
</footer>

<!--begin side streams-->
   <div class="hidden-lg-down">
       
           <span class="left"><iframe style="border: 0; width: 100%; height: 42px;" data-src="https://bandcamp.com/EmbeddedPlayer/album=2029818987/size=small/bgcol=333333/linkcol=9a64ff/transparent=true/" id="bandcamp-classics" seamless><a href="http://forevr.bandcamp.com/album/classics">Classics by FOREVR</a></iframe></span>
       <span class="right"><iframe style="border: 0; width: 100%; height: 42px;" data-src="https://bandcamp.com/EmbeddedPlayer/album=239853617/size=small/bgcol=333333/linkcol=fe7eaf/transparent=true/" id="bandcamp-diam" seamless><a href="http://forevr.bandcamp.com/album/death-is-a-miracle">Death is a miracle by FOREVR</a></iframe></span>
    </div>

     <!--end side streams-->


    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <!-- LZLDR -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.5/jquery.lazy.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.5/jquery.lazy.plugins.min.js"></script>
    <script src="js/three.min.js"></script>
    <script src="js/Detector.js"></script>
    <script type="text/javascript" src="js/frvr.js"></script>
