    <!-- Start F -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <!-- end F -->



 <div id="site-bg">
        </div>


    <nav class="navbar navbar-toggleable-md navbar-light">
        <div class="container">

            <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

            <a class="navbar-brand" href="#">
                <h1><i class="fa fa-diamond" aria-hidden="true"></i></h1>
            </a>

            <!--<img data-src="https://www.festisite.com/static/partylogo/img/logos/nasa.png" class="img-fluid" style="max-width:40px;">-->
            <div id="navbarNav" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item align-middle"><a href="https://soundcloud.com/forevrforevr/" target="_blank" class="nav-link" id="soundcloud"><i class="fa fa-soundcloud  fa-lg fa-fw" aria-hidden="true"></i>
 Soundcloud</a></li>
                    <li class="nav-item align-middle"><a href="https://forevr.bandcamp.com/" target="_blank" class="nav-link" id="bandcamp"><i class="fa fa-bandcamp  fa-lg fa-fw" aria-hidden="true"></i> Bandcamp</a></li>
                    <li class="nav-item align-middle"><a href="https://open.spotify.com/artist/0LO4Qbp45wXZMFO8aHZwEa" target="_blank" id="spotify" class="nav-link"><i class="fa fa-spotify  fa-lg fa-fw" aria-hidden="true"></i>
 Spotify</a></li>

                    </a>
                    </li>
                    <li class="nav-item align-middle"><a href="#contact" class="nav-link" id="info"><i class="fa fa-book  fa-lg fa-fw" aria-hidden="true"></i> Info</a></li>
                 {% for my_page in site.pages %}
          {% if my_page.title %}
          <li class="nav-item align-middle"><a class="nav-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
          {% endif %}
        {% endfor %}
                </ul>

       


<span class="navbar-nav ml-auto social hidden-sm-down">
                    <a href="https://www.facebook.com/thebandFOREVR/" target="_blank" class="btn nav-item"><i class="fa fa-facebook fa-lg fa-fw" aria-expanded="false" aria-label="Facebook"></i></a>
                    <a href="https://twitter.com/thebandforevr" target="_blank" class="btn nav-item"><i class="fa fa-twitter fa-lg fa-fw" aria-expanded="false" aria-label="Twitter"></i></a>
                    <a href="https://www.instagram.com/forevrforevr/" target="_blank" class="btn nav-item"><i class="fa fa-instagram fa-lg fa-fw" aria-expanded="false" aria-label="Instagram"></i></a>
                    
                    <a href="https://www.youtube.com/channel/UCnCGnI80MuUWpt9XSYnnUkg" target="_blank" class="btn nav-item"><i class="fa fa-youtube fa-lg fa-fw" aria-expanded="false" aria-label="YouTube"></i></a>
                    <a href="https://thebandforevr.tumblr.com" target="_blank" class="btn nav-item"><i class="fa fa-tumblr" aria-expanded="false" aria-label="TUMBLR fa-lg fa-fw"></i></a>
                    
                    <!--<li class="nav-item"><a href="#" target="_blank" class="nav-link"><i class="fa fa-shirt" aria-hidden="true"></i>
Merch</a></li>
                    <li class="nav-item"><a href="#" target="_blank" class="nav-link"><i class="fa fa-shirt" aria-hidden="true"></i>
Press</a></li>-->

                
</span>

            </div>
    </nav>

    <!-- END NAV -->
        <!-- START HEADER -->

    <div class="jumbotron header">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-12">

                    <h1 class="display-1 text-center fukd">{{ site.title }}</h1>


                </div>
          </div>
            <hr class="hidden-md-up">
            <div class="row hidden-md-up content-justify-center">
                
                <div class="col social text-center">
                
                    <a class="btn" href="#https://www.facebook.com/thebandFOREVR/" target="_blank"><i class="fa fa-facebook" aria-expanded="false" aria-label="Facebook"></i></a>
                    <a class="btn" href="#https://twitter.com/thebandforevr" target="_blank" ><i class="fa fa-twitter" aria-expanded="false" aria-label="Twitter"></i></a>
                    <a class="btn" href="#https://www.instagram.com/forevrforevr/" target="_blank" class="nav-link"><i class="fa fa-instagram" aria-expanded="false" aria-label="Instagram"></i></a>
                    
                    <a class="btn" href="https://www.youtube.com/channel/UCnCGnI80MuUWpt9XSYnnUkg" target="_blank" class="nav-link"><i class="fa fa-youtube" aria-expanded="false" aria-label="YouTube"></i></a>
                    <a class="btn" href="#https://thebandforevr.tumblr.com" target="_blank" class="nav-link"><i class="fa fa-tumblr" aria-expanded="false" aria-label="TUMBLR"></i></a>
                    
                    <!--<li class="nav-item"><a href="#https://thebandforevr.tumblr.com" target="_blank" class="nav-link"><i class="fa fa-shirt" aria-hidden="true"></i>
Merch</a></li>
                    <li class="nav-item"><a href="#https://thebandforevr.tumblr.com" target="_blank" class="nav-link"><i class="fa fa-shirt" aria-hidden="true"></i>
Press</a></li>-->

                
</div></div>
            </div>
        </div>
    
