<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="container">

        <div class="row justify-content-center">
            <div class="col">


                <h2 class="text-center">DEBUT ALBUMS <br><span class="display-4"><a href="#classics">Classics</a> & <a href="#diam">Death is a miracle</a></span><br><span class="lead">AVAILABLE 11 AUG 2017</span></h2>
                 {{ content }}

                 <img src="img/dmnd.gif"
          <hr>
            </div>
        </div>

    </div>
       <!-- START VIDEO -->
       <div class="container-fluid yt">
           
       
        <div class="row justify-content-center">
            
            <div class="col text-center">
                      

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" id="#youtube-columbus" data-loader="youtube" data-src="0wwwpkzyknk" allowfullscreen></iframe>
                </div>
                 <h3>Columbus</h3>
                <p>(Video by <a href="http://www.mia-forrest.com/" target="_blank">Mia Forrest</a>)</p>
                
            </div>
        </div>
        
   
       </div>
       <!--end video section-->

       

        <!-- <div class="right">
       
           <h4>Preorder digital/vinyl from <a href="#" target="_blank">Bandcamp</a></h4>
       
    </div> -->
       
        <!--start classix-->
        <a name="classics"></a>
       <div class="container">
              
       <hr>
    
        <div class="row justify-content-md-center">
            <div class="col-md-8 text-center">
                <!-- <div class="card" style="background:transparent; border:none;"><a name="classics"></a> -->
                    
                         <img class="img-fluid col-lg-9 cvrs lorpmccw" data-src="img/classics-t.png" alt="Classics cover" style="margin: 0 auto;"> 
                    <div class="vert classhead">
                        <h2 class="display-1 title hidden-xs-down"><a href="https://forevr.bandcamp.com/album/classics" target="_blank" class="title-part line-4">Classics</a></h2>
                        <h2 class="display-3 hidden-sm-up">Classics</h2>
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <div class="row vert justify-content-center text-center">
            <div class="col-md-12">
                <h3 class="hidden-sm-down">PREORDER:</h3>
                <h4 class="display-4"><a href="https://tymguitars.com.au/collections/vinyl/products/tymrecords053forevrclassics12inch" target="_blank">Vinyl</a> | <a href="https://forevr.bandcamp.com/album/classics" target="_blank">Digital</a> </h4>
            </div>
        </div>
        <div class="row vert justify-content-center text-center">
            <div class="col-md-8">
                <!--<p class="">This is a wider card with supporting text below as a natural lead-in to additional content. This content
                    is a little bit longer.</p>-->
                <p class="lead hidden-sm-down">Stream <strong>Columbus</strong> below:</p>
            </div>
        </div>
        <div class="row vert justify-content-center text-center">
            <div class="col bc mx-auto">

                <iframe style="border: 0; width: 100%; height: 42px;" data-src="https://bandcamp.com/EmbeddedPlayer/album=2029818987/size=small/bgcol=ffffff/linkcol=0687f5/artwork=none/track=3708111381/transparent=true/"
                    seamless><a href="http://forevr.bandcamp.com/album/classics">Classics by FOREVR</a></iframe>
            </div>

        </div>


        <!-- <h2 class="display-1 title"><a href="#" target="_blank" class="title-part line-4">Classics</a></h2>-->



        <div class="row justify-content-center vert">

        </div>
       <!--end classix-->
                <hr>
                <!--start diam-->
        
<div class="row justify-content-md-center">
            <div class="col-md-8 text-center">
                <!-- <div class="card" style="background:transparent; border:none;">-->
                    
                    <a name="diam"></a> 
                    
                        <img class="img-fluid col-lg-9 cvrs lorpm" data-src="img/diam-t.png" alt="Death is a miracle" style="margin: 0 auto;">
                    <div class="vert diamhead">
                        <h2 class="display-1 title text-center hidden-xs-down"><a href="https://forevr.bandcamp.com/album/death-is-a-miracle" target="_blank" class="title-part line-3">Death is a miracle</a></h2>
                    <h2 class="display-3 hidden-sm-up">Death is a miracle</h2>
                    </div>
                </div>
          
        </div>
        <div class="row vert justify-content-center text-center">
            <div class="col-md-12">
                <h3 class="hidden-sm-down">PREORDER:</h3>
                <h4 class="display-4"><a href="https://tymguitars.com.au/collections/vinyl/products/tymrecords054forevrdeathisamiracle12inch" target="_blank">Vinyl</a> | <a href="https://forevr.bandcamp.com/album/death-is-a-miracle" target="_blank">Digital</a> </h4>
            </div>
        </div>
        <div class="row vert justify-content-center text-center hidden-sm-down">
            <div class="col-md-8">
                <!--<p class="">This is a wider card with supporting text below as a natural lead-in to additional content. This content
                    is a little bit longer.</p>-->
                <p class="lead">Stream <strong>Petrichor</strong> below:</p>
            </div>
        </div>
        <div class="row vert justify-content-center text-center">
            <div class="col bc mx-auto">

               <iframe style="border: 0; width: 100%; height: 42px;" data-src="https://bandcamp.com/EmbeddedPlayer/album=239853617/size=small/bgcol=333333/linkcol=fe7eaf/artwork=none/track=4075486579/transparent=true/" seamless><a href="http://forevr.bandcamp.com/album/death-is-a-miracle">Death is a miracle by FOREVR</a></iframe>
            </div>

        </div>


        <!--end diam-->
        <hr>
    </div>
       

    </div>

    {% include footer.html %}

  </body>

</html>
